* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}
.container-layout {
	display: grid;
	grid-template-columns: clamp(250px, 25%, 80%) 1fr;
	grid-template-rows: repeat(4, 1fr);
}

/* DASHBOARD AND SIDEBAR */

.dashboard-icon,
.home-icon,
.messages-icon,
.communities-icon,
.tasks-icon,
.profile-icon,
.settings-icon,
.support-icon,
.privacy-icon,
.history-icon {
	cursor: pointer;
	color: white;
	margin-right: 10px;
}

.dashboard-icon {
	margin-top: 5px;
	margin-left: 8px;
}

.dashboard {
	font-size: 1.8rem;
	color: white;
	display: flex;
	margin-left: 25px;
	margin-top: 20px;
	gap: 10px;
}
.dashboard-item-container,
.dashboard-item-container-2 {
	color: white;
	margin-left: 25px;
}

.dashboard-item-container-2 {
	margin-bottom: 700px;
}

ul {
	list-style-type: none;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.sidebar {
	background-color: #38bdf8;
	display: grid;
	grid-row: 1 / span 4;
	padding: 18px;
	height: 100vh;
}

/* HEADER */
.header {
	margin-left: 40px;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: baseline;
}

.profile-picture-main > img {
	border-radius: 50%;
	min-height: 100px;
	min-width: 100px;
}

.header-container-1 {
	display: grid;
	gap: 20px;
}
.searchbar-container {
	display: flex;
	gap: 15px;
	align-items: center;
}
.searchbar {
	background-color: #cbd5e1;
	border-style: none;
	border-radius: 10px;
	height: 30px;

	width: clamp(200px, 100%, 1000px);
}

.greeting {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 50px;
}

.greeting-name {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-weight: bolder;
	font-size: 1.5rem;
}

.profile-picture-side > img {
	border-radius: 50%;
	min-height: 70px;
	min-width: 70px;
}

.header-container-2 {
	display: flex;
	justify-content: flex-end;
}

.button-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.profile-name {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	white-space: nowrap;
	font-size: 1.3rem;
}

.profile-management {
	display: grid;

	grid-template-columns: 50px 100px 120px;
	align-items: center;
	margin-bottom: 35px;
}

.button-container > button {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	border-style: none;
	background-color: #38bdf8;
	color: white;
}

.profile-container {
	display: grid;
	justify-items: center;
	margin-right: 50px;
}
